body {
  background-image: url(../images/background-pattern.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
abbr {
  font-size: 15.5px;
}

header {
  background-color: #be6c72;
  width: 610px;
  text-align: center;
  padding-bottom: 5px;
  margin: auto;
}
#page-content {
  width: 610px;
  background-color: white;
  margin: auto;
}

#lvivspaces,
#self-employed {
  padding-bottom: 7px;
  padding-left: 10px;
  max-width: 580px;
}

h2 {
  padding-left: 10px;
  padding-top: 7px;
}

#gravilink,
#riderra,
#self-employed,
details {
  padding-left: 10px;
}

#projects,
#experience {
  background-color: white;
  width: 610px;
}

fieldset {
  max-width: 585px;
  background-color: white;
  margin: auto;
  margin-top: 10px;
}
input,
textarea {
  background-color: #e6d8cf;
}
legend {
  font-size: 20px;
  font-weight: bolder;
}
#copyright {
  background-color: white;
  max-width: 370px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}
a {
  color: black;
}
